## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [11]:
import os
import numpy as np
import pandas as pd

In [6]:
from urllib.request import urlretrieve
# download github file
github_path = 'https://github.com/Yi-Wei-Lin/ML100Days/raw/main/HW/Day4/EDA_%E8%AE%80%E5%8F%96%E8%B3%87%E6%96%99%E8%88%87%E5%88%86%E6%9E%90%E6%B5%81%E7%A8%8B_HW.7z'
urlretrieve(github_path, "yo.7z")
# 解壓縮 7z file
!7z x 'yo.7z'

('yo.7z', <http.client.HTTPMessage at 0x7ff56078f410>)

In [9]:
# 設定 data_path
dir_data = './'

In [12]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [26]:
# row count
print('app_train row counts is', len(app_train.index)) # shape[0]
# columns count
print('app_train columns counts is', app_train.shape[1])

app_train row counts is 307511
app_train columns counts is 122

#### 列出所有欄位

In [27]:
# show all columns
print(app_train.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [29]:
# cut some data
app_train.iloc[150:200]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
150,100177,0,Cash loans,M,N,N,1,112500.0,312682.5,33309.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
151,100178,0,Cash loans,F,N,Y,0,119250.0,679500.0,28917.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
152,100179,0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
153,100180,0,Cash loans,F,N,Y,1,315000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0
154,100181,1,Cash loans,F,N,Y,0,157500.0,245619.0,12667.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
155,100182,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
156,100183,0,Cash loans,F,N,Y,0,103500.0,239850.0,23494.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
157,100185,0,Cash loans,M,N,Y,0,58500.0,187704.0,10903.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
158,100186,0,Cash loans,F,N,Y,0,117000.0,269550.0,13095.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
159,100188,0,Cash loans,F,N,N,1,225000.0,1325475.0,56290.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
160,100189,0,Cash loans,F,N,Y,0,135000.0,263844.0,14440.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
161,100190,0,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
162,100191,0,Cash loans,F,N,Y,0,112500.0,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
163,100192,1,Cash loans,F,N,N,0,111915.0,225000.0,21037.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
164,100193,0,Cash loans,F,Y,N,0,225000.0,296280.0,15124.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,6.0
165,100194,0,Revolving loans,F,N,Y,2,157500.0,315000.0,15750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
166,100195,0,Cash loans,M,Y,Y,0,90000.0,336150.0,9373.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
167,100196,0,Cash loans,F,Y,Y,0,164250.0,755190.0,32125.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
168,100197,0,Cash loans,F,N,N,2,157500.0,497520.0,28692.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
169,100198,0,Cash loans,M,Y,Y,1,135000.0,531000.0,32616.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
170,100199,0,Cash loans,F,N,Y,0,112500.0,269550.0,18891.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
171,100200,0,Cash loans,F,N,N,0,216000.0,450000.0,27193.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
172,100201,0,Cash loans,F,N,Y,1,180000.0,675000.0,36747.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,6.0
173,100202,0,Cash loans,F,N,N,0,67500.0,127350.0,6597.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
174,100203,0,Cash loans,F,N,N,0,54000.0,119925.0,11097.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
175,100204,0,Cash loans,F,N,Y,1,81000.0,532494.0,30699.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
176,100205,0,Cash loans,F,N,Y,0,63000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
177,100206,0,Cash loans,M,Y,N,1,157500.0,318528.0,25294.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
178,100207,0,Cash loans,F,N,Y,0,157500.0,700830.0,22738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
179,100208,0,Cash loans,M,N,N,1,180000.0,888840.0,29016.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,2.0
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
181,100210,0,Cash loans,F,N,Y,1,202500.0,771493.5,25627.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
182,100211,0,Cash loans,M,N,N,3,225000.0,746280.0,49873.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
183,100213,0,Cash loans,F,N,N,2,49500.0,278460.0,19930.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
185,100215,0,Cash loans,F,Y,N,0,90000.0,227520.0,8172.0,...,0,0,0,0,0.0,0.0,0.0,5.0,0.0,5.0
186,100216,0,Cash loans,F,N,N,0,90000.0,67500.0,6705.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
187,100217,0,Cash loans,F,N,N,0,180000.0,254700.0,25321.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
188,100218,0,Cash loans,M,Y,Y,0,337500.0,876078.0,49050.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
189,100219,0,Cash loans,M,N,Y,1,315000.0,2250000.0,83515.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
190,100220,0,Cash loans,F,N,Y,0,225000.0,1040985.0,30568.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
191,100221,0,Cash loans,F,N,Y,0,225000.0,684054.0,77494.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
192,100224,0,Cash loans,F,Y,Y,2,225000.0,1256400.0,36864.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
193,100225,0,Cash loans,M,Y,N,2,157500.0,720000.0,28552.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
194,100226,0,Revolving loans,F,N,N,2,112500.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
195,100227,0,Cash loans,M,N,N,0,292500.0,1024740.0,55719.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
196,100228,0,Cash loans,F,N,N,1,121500.0,1102500.0,32364.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
197,100229,0,Cash loans,F,N,Y,0,157500.0,544491.0,16047.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
198,100230,0,Revolving loans,F,N,N,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
199,100231,0,Cash loans,M,Y,Y,1,108000.0,912240.0,30276.0,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子